#!/usr/bin/env sh 

{{- if eq .chezmoi.hostname "mbp" }}
export HOME="/Users/{{ .chezmoi.username }}"
{{- else if or (eq .chezmoi.hostname "lemur") (eq .chezmoi.hostname "omen") }}
export HOME="{{ .chezmoi.homeDir }}"
{{- end }}

export XDG_CONFIG_HOME="$HOME/.config"
export XRDM_DIR="$HOME/.Xresource.d"
export XRDM_FONT_DIR="$HOME/fonts"
export XRDM_COLOR_DIR="$HOME/colors"
export XRDM_PRESET_DIR="$HOME/presets"
export XRDM_PROGRAM_DIR="$HOME/programs"

source "$HOME/.bashrc"

# Running some things here...

{{- if or (eq .chezmoi.hostname "lemur") (eq .chezmoi.hostname "omen") }}
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

# picom &
xcompmgr -c &
dunst &

sxhkd &

# xset r rate 300 50 &
redshift &

nitrogen --restore
# xrdm preset default
{{- end }}
