#!/bin/sh

# bib
rm -f $HOME/bin/bib
ln -s $DIRPAPERS/bibs/bibsearch $HOME/bin/bib

# titlesearch
rm -f $HOME/bin/titlesearch
ln -s $UCARE_PAPERS_DIR/scripts/search/titleSearch.sh $HOME/bin/titlesearch

# summ 
rm -f $HOME/bin/summ
ln -s $UCARE_PAPERS_DIR/scripts/search/summ.sh $HOME/bin/summ

