{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "mhanberg/zk"
tap "superfly/tap"
## tap "railwaycat/emacsmacport"
tap "d12frosted/emacs-plus"
brew "bat"
brew "exa"
brew "fish"
brew "fzf"
brew "pinentry"
brew "gnupg"
brew "pinentry-mac"
brew "ripgrep"
brew "starship"
brew "subversion"
brew "tmux"
brew "coreutils"
cask "font-ubuntu-mono-nerd-font"
cask "1password-cli"
brew "jq"
cask "mactex-no-gui"
brew "pandoc"
## brew "mhanberg/zk/zk"
cask "db-browser-for-sqlite"
brew "cmake"
## cask "emacs"
brew "mpich"
brew "automake"
brew "neovim"
brew "redis", restart_service: true
brew "gcc"
brew "wget"
brew "rsync"
brew "git-delta"
brew "icu4c"
brew "flyctl"
brew "ninja"
brew "task"
brew "taskwarrior-tui"
brew "poppler"
brew "mdcat"
brew "meilisearch"
brew "imagemagick"
## brew "emacs-mac"
brew "emacs-plus"
brew "coreutils"
brew "gnuplot"
## brew "php"
brew "gmp" 
brew "libsodium"
brew "imagemagick"
EOF
{{ end -}}
