#!/bin/bash
{{- if (or (or (eq .chezmoi.hostname "lemur") (eq .chezmoi.hostname "omen")) (eq .chezmoi.hostname
"mbp")) }}

echo "Download NNN Plugins"
rm -rf ${XDG_CONFIG_HOME:-$HOME/.config}/nnn/plugins; curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs | sh

if [ ! -d "$HOME/.config/nvim" ]
then
  # git clone --depth 1 https://github.com/NTBBloodbath/doom-nvim.git ${XDG_CONFIG_HOME:-$HOME/.config}/nvim
  git clone https://github.com/NvChad/NvChad $HOME/.config/nvim --depth 1
fi

echo "Configuring NVIM"
cp -r $HOME/.config/nvchad-custom/* $HOME/.config/nvim
nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
#cp -r $HOME/.config/doom-nvim/* $HOME/.config/nvim

if [ ! -d "$HOME/opt/asdf" ]
then
  git clone https://github.com/asdf-vm/asdf.git $HOME/opt/asdf --branch v0.9.0

  asdf plugin-add php https://github.com/asdf-community/asdf-php.git
  asdf plugin-add ruby https://github.com/asdf-community/asdf-ruby.git
  asdf plugin-add nodejs https://github.com/asdf-community/asdf-nodejs.git
fi
{{ end -}}
