<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>DIRPAPERS</key>
      <string>/Users/rayandrew/Ucare/DIR-PAPERS</string>
      <key>HOME</key>
      <string>/Users/rayandrew</string>
    </dict>
    <key>Label</key>
    <string>com.rayandrew.idx.plist</string>
    <key>ProgramArguments</key>
    <array>
      <!-- <string>/etc/profiles/per-user/rayandrew/bin/zsh</string> -->
      <!-- <string>-c</string> -->
      <string>/Users/rayandrew/bin/idx</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.rayandrew.idx.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.rayandrew.idx.out</string>
</dict>
</plist>
