#############################################################################################################################
# GLOBAL ENVIRONMENT
#############################################################################################################################
{{- if eq .chezmoi.hostname "mbp" }}
export HOME="/Users/{{ .chezmoi.username }}"
{{- else if or (eq .chezmoi.hostname "lemur") (eq .chezmoi.hostname "omen") }}
export HOME="{{ .chezmoi.homeDir }}"
{{- end }}

export PATH="$HOME/bin:$HOME/.bin:$PATH"
export EDITOR="nvim"
export BROWSER="google-chrome-stable"

export STARSHIP_CONFIG="$HOME/.config/starship/config.toml"

export BRAIN_PROJ_DIR="$HOME/projects/brain-web"
export BRAIN_DIR="$HOME/brain/contents"
export ZK_NOTEBOOK_DIR="$HOME/brain/contents"

{{- if eq .chezmoi.hostname "mbp" }}
export CC="/usr/local/bin/gcc-11"
{{- end }}

brainloc () {
  cd $BRAIN_DIR
}

# ADDITIONAL PATHS
export OPT_DIR="$HOME/opt"
#############################################################################################################################


#############################################################################################################################
# ZSH CONFIGURATION
#############################################################################################################################

## Emacs Keybinding
bindkey -e

## Package manager
[[ -f $OPT_DIR/zsh-snap/znap.zsh ]] ||
    git clone --depth 1 -- \
        https://github.com/marlonrichert/zsh-snap.git $OPT_DIR/zsh-snap

[[ -d $OPT_DIR/zsh-snap/pkgs ]]  ||
    mkdir -p $OPT_DIR/zsh-snap/pkgs

zstyle ':znap:*' repos-dir $OPT_DIR/zsh-snap/pkgs
source "$OPT_DIR/zsh-snap/znap.zsh"

## Packages

### Spaceship Prompt
export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship/config.toml"
#znap eval starship "starship init zsh"
#znap prompt starship

### Pure prompt
znap prompt sindresorhus/pure

### ZSH
#znap source marlonrichert/zsh-autocomplete
znap source marlonrichert/zsh-edit
znap source zsh-users/zsh-autosuggestions
znap source zsh-users/zsh-syntax-highlighting
znap install ohmyzsh/ohmyzsh

### Iterm2
znap eval iterm2 "curl -fsSL https://iterm2.com/shell_integration/zsh"

## Aliases

alias vim="nvim"

source "$HOME/.aliases/git_aliases"

export PATH="$HOME/bin:$PATH"

## Defer

#############################################################################################################################


#############################################################################################################################
# PACKAGES AND PATH
#############################################################################################################################

### Conda
export PATH="$OPT_DIR/anaconda3/bin:$PATH"
# >>> conda initialize >>>
# !! Contents within this block are managed by "conda init" !!
__conda_setup="$("$OPT_DIR/anaconda3/bin/conda" "shell.zsh" "hook" 2> /dev/null)"
if [ $? -eq 0 ];
then
    # znap function _conda condan 'eval "$__conda_setup"'
    # compctl -K    _conda conda
    eval "$__conda_setup"
else
    if [ -f "$OPT_DIR/anaconda3/etc/profile.d/conda.sh" ]; then
        . "$OPT_DIR/anaconda3/etc/profile.d/conda.sh"
        # CONDA_CHANGEPS1=false conda activate base
    else
        export PATH="$OPT_DIR/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

### ASDF
export ASDF_FOLDER="$OPT_DIR/asdf"
if [ -f "$ASDF_FOLDER/asdf.sh" ];
then
    source "$ASDF_FOLDER/asdf.sh"
fi

### FZF
[ -f $HOME/.fzf.zsh ] && source $HOME/.fzf.zsh

### Fly
if [ -d "$HOME/.fly" ]
then
    export FLYCTL_INSTALL="$HOME/.fly"
    export PATH="$FLYCTL_INSTALL/bin:$PATH"
fi

{{- if or (eq .chezmoi.hostname "lemur") (eq .chezmoi.hostname "omen") }}
### MPICH
MPICH_FOLDER="/opt/mpich/"
if [ -d $MPICH_FOLDER ]
then
    export PATH="$MPICH_FOLDER/bin:$PATH"
    export MANPATH="$MPICH_FOLDER/share/man:$MANPATH"
    export PKG_CONFIG_PATH="$MPICH_FOLDER/lib/pkgconfig:$PKG_CONFIG_PATH"
    export LD_LIBRARY_PATH=$MPICH_FOLDER/lib:$LD_LIBRARY_PATH
    export C_INCLUDE_PATH="$MPICH_FOLDER/include:$C_INCLUDE_PATH"
fi

### Perl5
PERL5_FOLDER="$HOME/perl5"
if [ -d "$PERL5_FOLDER" ]
then
   export PATH="$PERL5_FOLDER/bin:$PATH"
   export PERL5LIB="$PERL5_FOLDER/lib/perl5:$PERL5LIB"
   export PERL_LOCAL_LIB_ROOT="$PERL5_FOLDER:$PERL_LOCAL_LIB_ROOT"
   export PERL_MB_OPT="--install_base\ \"$PERL5_FOLDER\""
   export PERL_MB_OPT="INSTALL_BASE=\"$PERL5_FOLDER\""
fi
{{- end }}

### Rust
export CARGO_FOLDER="$HOME/.cargo"
if [ -f "$CARGO_FOLDER/env" ]
then
  source "$CARGO_FOLDER/env"
fi
#############################################################################################################################
