## Global variables
## Global variables
set -q XDG_CONFIG_HOME; or set XDG_CONFIG_HOME "$HOME/.config"

set -q EDITOR "emacs -nw"
set -q BROWSER "google-chrome-stable"
set -q STARSHIP_CONFIG="$HOME/.config/starship/config.toml"

set -q BRAIN_PROJ_DIR "$HOME/brain"
set -q BRAIN_DIR "$HOME/brain/contents"
set -q ZK_NOTEBOOK_DIR "$HOME/brain/contents"

set -q OPT_DIR "$HOME/opt"

{{- if eq .chezmoi.hostname "mbp" }}
## set -gx CC "/usr/local/bin/gcc-11"
set -gx SHELL "/usr/local/bin/fish"
{{- else if or (eq .chezmoi.hostname "lemur") (eq .chezmoi.hostname "omen") }}
set -gx SHELL "/usr/bin/fish"
{{- end }}

if status is-interactive
    if not functions -q fisher
        curl https://git.io/fisher --create-dirs -sLo "$XDG_CONFIG_HOME/fish/functions/fisher.fish"
        fish -c fisher install jorgebucaran/fisher
    end

    if type -q starship
      starship init fish | source 
    end

    # aliases
    source "$XDG_CONFIG_HOME/fish/aliases.fish"

    # for gpg
    set -gx GPG_TTY (tty)

    # editor
    set -gx EDITOR "emacs -nw"

    fish_add_path "$HOME/bin"

    # Doom Emacs
    fish_add_path "$HOME/.emacs.d/bin"

    {{- if eq .chezmoi.hostname "mbp" }}
    if test -d /usr/local/opt/llvm
      set -gx LDFLAGS "-L/usr/local/opt/llvm/lib" $LDFLAGS
      set -gx CPPFLAGS "-I/usr/local/opt/llvm/include" $CPPFLAGS
      fish_add_path /usr/local/opt/llvm/bin
    end
    {{- end }}

    # MPICH
    {{- if or (eq .chezmoi.hostname "lemur") (eq .chezmoi.hostname "omen") }}
    set MPICH_FOLDER "/opt/mpich/"
    if test -d $MPICH_FOLDER
        set -gx PATH "$MPICH_FOLDER/bin" $PATH
        set -gx MANPATH "$MPICH_FOLDER/share/man" $MANPATH
        set -gx PKG_CONFIG_PATH "$MPICH_FOLDER/lib/pkgconfig" $PKG_CONFIG_PATH
        set -gx LD_LIBRARY_PATH "$MPICH_FOLDER/lib" $LD_LIBRARY_PATH
        set -gx C_INCLUDE_PATH "$MPICH_FOLDER/include" $C_INCLUDE_PATH
    end

    # Perl5
    set PERL5_FOLDER "$HOME/perl5"
    if test -d $PERL5_FOLDER
        set -gx PATH "$PERL5_FOLDER/bin" $PATH
        set -q PERL5LIB; and set -x PERL5LIB "$PERL5_FOLDER/lib/perl5":$PERL5LIB
        set -q PERL5LIB; or set -x PERL5LIB "$PERL5_FOLDER/lib/perl5"
        set -q PERL_LOCAL_LIB_ROOT; and set -x PERL_LOCAL_LIB_ROOT "$PERL5_FOLDER":$PERL_LOCAL_LIB_ROOT
        set -q PERL_LOCAL_LIB_ROOT; or set -x PERL_LOCAL_LIB_ROOT "$PERL5_FOLDER"
        set -x PERL_MB_OPT --install_base\ \"$PERL5_FOLDER\"
        set -x PERL_MM_OPT INSTALL_BASE="$PERL5_FOLDER"
    end
    {{- end }}


    # Research Path
    if test -e "$HOME/research/research-path.fish"
        source "$HOME/research/research-path.fish"
    end

    # ASDF Package
    if test -e "$OPT_DIR/asdf/asdf.fish"
        source "$OPT_DIR/asdf/asdf.fish"
    end

    # Spack
    if test -e "$OPT_DIR/spack/share/spack/setup-env.fish"
        source "$OPT_DIR/spack/share/spack/setup-env.fish"
    end

    # Rust
    if test -d "$HOME/.cargo/bin"
        set -x PATH "$HOME/.cargo/bin" $PATH 2>/dev/null
    end

    # Pyenv
    ## if test -d "$OPT_DIR/pyenv"
    ##     set -Ux PYENV_ROOT "$OPT_DIR/pyenv"
    ##     fish_add_path "$PYENV_ROOT/bin"
    ##     status is-login; and pyenv init --path | source
    ##     status is-interactive; and pyenv init - | source
	   ##    if test -d "$PYENV_ROOT/plugins/pyenv-virtualenv" 
    ##       status is-interactive; and pyenv virtualenv-init - | source
    ##     end
    ## end

    # Anaconda
    if test -d "$OPT_DIR/anaconda3"
      set -x PATH "$OPT_DIR/anaconda3/bin" $PATH 2>/dev/null

      # >>> conda initialize >>>
      # !! Contents within this block are managed by 'conda init' !!
      eval $OPT_DIR/anaconda3/bin/conda "shell.fish" "hook" $argv | source
      # <<< conda initialize <<<
    end

    # Fly
    if test -d "$HOME/.fly"
       set -gx FLYCTL_INSTALL "$HOME/.fly"
       set -x PATH "$FLYCTL_INSTALL/bin" $PATH 2>/dev/null
    end

    # Second Brain
    function brainloc
      cd $BRAIN_DIR
    end 


    if test -e "$HOME/opt/google-cloud-sdk/path.fish.inc"
      source "$HOME/opt/google-cloud-sdk/path.fish.inc"
    end

    # 1Password
    # eval (op signin my)
end
